In [3]:
import pandas as pd
import numpy as np

### Exploratory data analysis

In [5]:
df = pd.read_excel("potential-talents.xlsx").set_index('id')
print(df)

                                             job_title  \
id
1    2019 C.T. Bauer College of Business Graduate (...
2    Native English Teacher at EPIK (English Progra...
3                Aspiring Human Resources Professional
4               People Development Coordinator at Ryan
5      Advisory Board Member at Celal Bayar University
..                                                 ...
100  Aspiring Human Resources Manager | Graduating ...
101              Human Resources Generalist at Loparex
102   Business Intelligence and Analytics at Travelers
103                     Always set them up for Success
104   Director Of Administration at Excellence Logging

                                location connection  fit
id
1                         Houston, Texas         85  NaN
2                                 Kanada      500+   NaN
3    Raleigh-Durham, North Carolina Area         44  NaN
4                          Denton, Texas      500+   NaN
5                         İzmir, Türkiye      500+   NaN
..                                   ...        ...  ...
100             Cape Girardeau, Missouri        103  NaN
101  Raleigh-Durham, North Carolina Area      500+   NaN
102           Greater New York City Area         49  NaN
103             Greater Los Angeles Area      500+   NaN
104                          Katy, Texas      500+   NaN

[104 rows x 4 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1 to 104
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   104 non-null    object
 1   location    104 non-null    object
 2   connection  104 non-null    object
 3   fit         0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 4.1+ KB

In [7]:
df.replace('500+ ','500', inplace=True)

In [8]:
df['connection'] = pd.to_numeric(df['connection'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104 entries, 1 to 104
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   104 non-null    object
 1   location    104 non-null    object
 2   connection  104 non-null    int64
 3   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.1+ KB

In [10]:
df['job_title'].value_counts()

job_title
2019 C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional                 7
Aspiring Human Resources Professional                                                                                    7
Student at Humber College and Aspiring Human Resources Generalist                                                        7
People Development Coordinator at Ryan                                                                                   6
Native English Teacher at EPIK (English Program in Korea)                                                                5
Aspiring Human Resources Specialist                                                                                      5
HR Senior Specialist                                                                                                     5
Student at Chapman University                                                                                            4
SVP, CHRO, Marketing & Communications, CSR Officer | ENGIE | Houston | The Woodlands | Energy | GPHR | SPHR              4
Human Resources Coordinator at InterContinental Buckhead Atlanta                                                         4
Seeking Human Resources HRIS and Generalist Positions                                                                    4
Advisory Board Member at Celal Bayar University                                                                          4
Aspiring Human Resources Management student seeking an internship                                                        2
Seeking Human Resources Opportunities                                                                                    2
Seeking Human  Resources Opportunities. Open to travel and relocation.                                                   1
Bachelor of Science in Biology from Victoria University of Wellington                                                    1
Human Resources Management Major                                                                                         1
Director Human Resources  at EY                                                                                          1
Undergraduate Research Assistant at Styczynski Lab                                                                       1
Lead Official at Western Illinois University                                                                             1
Seeking employment opportunities within Customer Service or Patient Care                                                 1
Admissions Representative at Community medical center long beach                                                         1
Human Resources Generalist at Loparex                                                                                    1
Student at Westfield State University                                                                                    1
Student at Indiana University Kokomo - Business Management - \nRetail Manager at Delphi Hardware and Paint               1
Student                                                                                                                  1
Seeking Human Resources Position                                                                                         1
Aspiring Human Resources Manager | Graduating May 2020 | Seeking an Entry-Level Human Resources Position in St. Louis    1
RRP Brand Portfolio Executive at JTI (Japan Tobacco International)                                                       1
Business Intelligence and Analytics at Travelers                                                                         1
Always set them up for Success                                                                                           1
Information Systems Specialist and Programmer with a love for data and organization.                                     1
Human Resources Generalist at Schwan's                                                                                   1
Human Resources professional for the world leader in GIS software                                                        1
Aspiring Human Resources Manager, seeking internship in Human Resources.                                                 1
Experienced Retail Manager and aspiring Human Resources Professional                                                     1
Human Resources, Staffing and Recruiting Professional                                                                    1
Human Resources Specialist at Luxottica                                                                                  1
Director of Human Resources North America, Groupe Beneteau                                                               1
Retired Army National Guard Recruiter, office manager,  seeking a position in Human Resources.                           1
Human Resources Generalist at ScottMadden, Inc.                                                                          1
Business Management Major and Aspiring Human Resources Manager                                                           1
Human Resources Professional                                                                                             1
HR Manager at Endemol Shine North America                                                                                1
Nortia Staffing is seeking Human Resources, Payroll & Administrative Professionals!!  (408) 709-2621                     1
Aspiring Human Resources Professional | Passionate about helping to create an inclusive and engaging work environment    1
Human Resources|\nConflict Management|\nPolicies & Procedures|Talent Management|Benefits & Compensation                  1
Liberal Arts Major. Aspiring Human Resources Analyst.                                                                    1
Junior MES Engineer| Information Systems                                                                                 1
Senior Human Resources Business Partner at Heil Environmental                                                            1
Aspiring Human Resources Professional | An energetic and Team-Focused Leader                                             1
Director Of Administration at Excellence Logging                                                                         1
Name: count, dtype: int64

In [13]:
df = df.drop_duplicates()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 1 to 104
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   53 non-null     object
 1   location    53 non-null     object
 2   connection  53 non-null     int64
 3   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.1+ KB